<a href="https://colab.research.google.com/github/vijayalakshmig226/Python-Learning/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name :")
print("welcom", name)

Enter your name :ram
welcom ram

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a = 10
print(a+10)

20

In [ ]:
a = "10"
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [ ]:
para=[]
print("Enter a para")

while True:
  line=input()
  if line:
    para.append(line)
  else:
    break
    print(para)
    output='\n'.join(line)
    print(output)

In [ ]:
a= 5//2
print(a)

2

In [ ]:
a = int(input("Enter the no: "))
if a%2==0:
  print(a, "is even")
else:
  print(a, "is odd")

Enter the no: 7
7 is odd

In [ ]:
temperature = 22
if temperature > 25:
  print("its so hot")

else:
  print("its a cool day")

its a cool day

In [ ]:
mark = 75
if mark >= 90:
  print("Grade - A")
elif mark >= 80:
  print("Grade - B")
elif mark >=70:
  print("Grade - C")
elif mark >=60:
  print("Grade - D")
else:
  print("Grade - E")

Grade - C

In [ ]:
days = int(input("Enter the days: "))
if days == 0:
  print("Good no fine")
elif days >=1 and days <=5:
  print("Fine Amount: ", days*1)
elif days >5 and days <= 10:
  print("Fine amount: ", days*2)
else:
  print("membership cancel")

Enter the days: 6
Fine amount:  12

In [ ]:
m1 = int(input("Enter mark1 :"))
m2 = int(input("Enter mark2 :"))
m3 = int(input("Enter mark3 :"))
total = m1+m2+m3
average = total/3
if m1>=35 and m2>=35 and m3>=35:
 print("pass")
 if average >=90 and average <=100:
  print("grade : a")
 elif average >=80 and average <=89:
  print("grade : b")
 elif average >=70 and average <=79:
  print("grade : c")
 else:
  print("grade: d")
else:
 print("fail")
 print("no grade")

Enter mark1 :25
Enter mark2 :35
Enter mark3 :30
fail
no grade

In [ ]:
i = 10
while i<=20:
  print(i)
  i += 2

10
12
14
16
18
20

In [ ]:
i = 1
while i <= 20:
  if i == 7:
    break
  print(i)
  i += 1

1
2
3
4
5
6

In [ ]:
print(list(range(5)))
print(list(range(2,5)))
print(list(range(0,21,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
rows = 5
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(i, end = " ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5