<a href="https://colab.research.google.com/github/vijayalakshmig226/Python-Learning/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User Input

In [ ]:
name=input("Enter the name : ")
print(name)
print(type(name))

a=int(input("Enter a value of a : "))
b=int(input("Enter a value of b : "))
c=a+b
print("Total : ", c)
print(type(c))

a=float(input("Enter a value of a : "))
b=float(input("Enter a value of b : "))
c=a+b
print("Total : ",c)
print(type(c))

Enter the name : Ram
Ram
<class 'str'>
Enter a value of a : 98
Enter a value of b : 89
Total :  187
<class 'int'>
Enter a value of a : 97
Enter a value of b : 96
Total :  193.0
<class 'float'>

# Getting Multiline Input

In [ ]:
para=[]
print("Enter a para")

while True:
  line=input()
  if line:
    para.append(line)
  else:
    break
    print(para)
    output='\n'.join(line)
    print(output)

Enter a para
Ram is good
Sita is good

# Type Casting

In [ ]:
a=99.9
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

99.9
<class 'float'>
99
<class 'int'>

# String And String Function

In [ ]:
s = "Ram kumar"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.count("a"))
print(s.endswith("ar"))
print(s.find("m"))
print(s.find("m", 5))
print(s.replace("m", 'w'))
a = "Ram1234"
print("Is Upper : ", a.isupper())
print("Is Lower : ", a.islower())
print("Is Alpha Numeric : ", a.isalnum())
print("Is Alpha : ", a.isalpha())
s = "he\nis\ngood"
print(s)
print(s.splitlines())
print(s.splitlines(True))
a = "Ram is from chennai"
print(a.split(" "))
a = "Ram,is,from,chennai"
print(a.split(","))
s="    Ram     "
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))
s='01-01-2025'
print(s.partition('-'))

Ram kumar
<class 'str'>
RAM KUMAR
ram kumar
Ram kumar
Ram Kumar
2
True
2
6
Raw kuwar
Is Upper :  False
Is Lower :  False
Is Alpha Numeric :  True
Is Alpha :  False
he
is
good
['he', 'is', 'good']
['he\n', 'is\n', 'good']
['Ram', 'is', 'from', 'chennai']
['Ram', 'is', 'from', 'chennai']
12
3
8
7
('01', '-', '01-2025')

# String Manipulation

In [ ]:
s= "sample"
print(s)
print(s[0:2])
print(s[:5])
print(s[1:])
print(s[-1])
print(s[-2:-1])
print(s[:-1])
print(s[::-1])

sample
sa
sampl
ample
e
l
sampl
elpmas

# Arithmetic Operator

In [ ]:
"""
+  Addition
-  Subtraction
*  Multiplication
/  Division
%  Modulus
** Exponentiation
// Floor division
"""

a=6
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(2**3)

11
1
30
1.2
1
1
8

# Assignment Operator

In [ ]:
"""
 =  Assignment
+=	Addition
-=	Subtraction
*=	Multiplication
/=	Division
%=	Modulus
**=	Exponentiation
//=	Floor division
"""

a = 125
print(a)
a += 10
print(a)
a -=10
print(a)
a *= 10
print(a)
a /= 10
print(a)
a %= 10
print(a)
a **= 2
print(a)
a //= 10
print(a)

125
135
125
1250
125.0
5.0
25.0
2.0

# Comparision or Relational Operator

In [ ]:
"""
==	Equal
!=	Not equal
>	Greater than
<	Less than
>=	Greater than or equal to
<=	Less than or equal to

"""

a = 10
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

# Logical Operator

In [ ]:
"""
and
or
not
"""

a = 20
print(a >= 10 and a <= 15)
print(a >=10 or a<= 25)
print(not(a >= 10 and a <= 25))

False
True
False

# Bitwise Opertaor

In [ ]:
"""
& 	AND
|	OR
^	XOR
~ 	NOT
<<	Zero fill left shift
>>	Signed right shift
"""

a=25
b=45
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

9
61
52
-26
100
6

# IF Else Statemet

In [ ]:
name = input("Enter a name: ")
Age = int(input("Enter a age: "))
if Age >=18:
  print(name, "is eligible for vote")
else:
  print(name, "is not eligible for vote")

Enter a name: ram
Enter a age: 19
ram is eligible for vote

# Elif Statement

In [ ]:
days = int(input("Enter the days: "))
if days == 0:
  print("Good no fine")
elif days >=1 and days <=5:
  print("Fine Amount: ", days*1)
elif days >5 and days <= 10:
  print("Fine amount: ", days*2)
else:
  print("membership cancel")

Enter the days: 6
Fine amount:  12

# Nested If Statemet

In [ ]:
m1 = int(input("Enter mark1 :"))
m2 = int(input("Enter mark2 :"))
m3 = int(input("Enter mark3 :"))
total = m1+m2+m3
average = total/3
if m1>=35 and m2>=35 and m3>=35:
 print("pass")
 if average >=90 and average <=100:
  print("grade : a")
 elif average >=80 and average <=89:
  print("grade : b")
 elif average >=70 and average <=79:
  print("grade : c")
 else:
  print("grade: d")
else:
 print("fail")
 print("no grade")

Enter mark1 :70
Enter mark2 :80
Enter mark3 :90
pass
grade : b

# While Loop

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1


n = 20
print("even no: ")
i = 2
while i <=20:
 print(i)
 i += 2

1
2
3
4
5
6
7
8
9
10
even no:
2
4
6
8
10
12
14
16
18
20

# Continue Using While Loop

In [ ]:
i=1
while i<= 20:
  if i%2==0:
    i=i+1
    continue;
  print(i)
  i +=1

1
3
5
7
9
11
13
15
17
19

# Break Using While Loop

In [3]:
i=1
while i <=20:
  if i==7:
    break
  print(i)
  i +=1

1
2
3
4
5
6

# Range

In [ ]:
print(list(range(5)))
print(list(range(0,5)))
print(list(range(2,21,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# For Loop

In [ ]:
for i in range(0, 21, 2):
 print(i)


for i in range(5):
    a = int(input("enter the no: "))
    b = int(input("enter the no: "))
    print(a+b)

0
2
4
6
8
10
12
14
16
18
20
enter the no: 45
enter the no: 7
52
enter the no: 8
enter the no: 8
16
enter the no: 6
enter the no: 6
12
enter the no: 6
enter the no: 9
15
enter the no: 9
enter the no: 6
15

# Nested For Loop

In [22]:
"""
A-Z => 65-90
a-z=> 97-122
"""


for i in range(6):
    for j in range(i):
        print("*", end="")
    print("")
print("----------")

for i in range(5,0,-1):
    for j in range(i):
        print("*", end="")
    print("")
print("----------")

for i in range(65,70,1):
    for j in range(65,70,1):
        print(chr(j), end="")
    print("")
print("----------")

for i in range(122,117,-1):
    for j in range(122,117,-1):
        print(chr(j), end="")
    print("")

*
**
***
****
*****
----------
*****
****
***
**
*
----------
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE
----------
zyxwv
zyxwv
zyxwv
zyxwv
zyxwv

# while Else & For Else

In [27]:
i = 1
while i<= 5:
  print(i)
  i += 1
else:
  print("loop completed")
print("-------------------")

for i in range(1,5):
 print(i)
else:
  print("loop completed")

1
2
3
4
5
loop completed
-------------------
1
2
3
4
loop completed

# List and Its Functions

In [35]:
a = [1,2,3,4,5]
print(a)
print(type(a))
a[0]=100
print(a)
# slicig
print(a[1])
print(a[-1])
print(a[0:3])
print(a[:2])
print(a[2:])
print("-----------------------")
a = [1, True, 'ram', 2.5, [1,2,3,4]]
print(a)
print(type(a))
print(type(a[0]))
print(type(a[1]))
print(type(a[2]))
print(type(a[3]))
print(a[4])
print("-----------------------")
a = [10, 20, 30, 40]
print(a)
a.clear()
print(a)
a = [10, 20, 30, 40]
b = a.copy()
print(b)
a = [10, 20, 30, 20, 4, 40]
print(a.count(20))
print(a.index(40))
print(len(a))
print(min(a))
print(max(a))
print(a)
a.pop(1) # remove element using index
print(a)
a = [10, 20, 30, 20, 4, 40]
a.remove(20)
print(a)
print("-----------------------")
names = ["ram"]
print(names)
names.append("sita")
names.append("lakshman")
names.append("hanuman")
print(names)
name1 = ["janu"]
names.extend(name1)
print(names)
names.insert(0,"siva")
print(names)
print("-----------------------")
print(list(range(5)))
print(list("sitaram"))
a = [50, 60, 30, 25]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a = ["apple", "zebra", "orange"]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.sort(key=len)
print(a)

[1, 2, 3, 4, 5]
<class 'list'>
[100, 2, 3, 4, 5]
2
5
[100, 2, 3]
[100, 2]
[3, 4, 5]
-----------------------
[1, True, 'ram', 2.5, [1, 2, 3, 4]]
<class 'list'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
[1, 2, 3, 4]
-----------------------
[10, 20, 30, 40]
[]
[10, 20, 30, 40]
2
5
6
4
40
[10, 20, 30, 20, 4, 40]
[10, 30, 20, 4, 40]
[10, 30, 20, 4, 40]
-----------------------
['ram']
['ram', 'sita', 'lakshman', 'hanuman']
['ram', 'sita', 'lakshman', 'hanuman', 'janu']
['siva', 'ram', 'sita', 'lakshman', 'hanuman', 'janu']
-----------------------
[0, 1, 2, 3, 4]
['s', 'i', 't', 'a', 'r', 'a', 'm']
[50, 60, 30, 25]
[25, 30, 50, 60]
[60, 50, 30, 25]
['apple', 'zebra', 'orange']
['apple', 'orange', 'zebra']
['zebra', 'orange', 'apple']
['zebra', 'apple', 'orange']

# Tuple

In [56]:
a = (1, True, "sita", 2.5)
print(a)
print(type(a))
# Slicing
print(a[1])
print(a[-1])
print(a[2:])
print(a[0:2])
print(a[2:])
print(a)
b = list(a)
b.append("ram")
print(b)
print(type(b))
a = tuple(b)
print(a)
print(type(a))

for i in a:
  print(i)

if "sita" in a:
  print("sita is found")
else:
  print("sita is not found")
print(len(a))

a=(5,)
print(type(a))
del a

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
c = a + b
print(c)
print(c.count(7))

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
c = (a,b)
print(c)
print(c[0])
print(c[1])
print(c[0][2])

a = ('ram',)*10
print(a,)

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
print(min(a))
print(max(b))

(1, True, 'sita', 2.5)
<class 'tuple'>
True
2.5
('sita', 2.5)
(1, True)
('sita', 2.5)
(1, True, 'sita', 2.5)
[1, True, 'sita', 2.5, 'ram']
<class 'list'>
(1, True, 'sita', 2.5, 'ram')
<class 'tuple'>
1
True
sita
2.5
ram
sita is found
5
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
1
((1, 2, 3, 4), (5, 6, 7, 8))
(1, 2, 3, 4)
(5, 6, 7, 8)
3
('ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram')
1
8