<a href="https://colab.research.google.com/github/vijayalakshmig226/Python-Learning/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User Input

In [ ]:
name=input("Enter the name : ")
print(name)
print(type(name))

a=int(input("Enter a value of a : "))
b=int(input("Enter a value of b : "))
c=a+b
print("Total : ", c)
print(type(c))

a=float(input("Enter a value of a : "))
b=float(input("Enter a value of b : "))
c=a+b
print("Total : ",c)
print(type(c))

Enter the name : Ram
Ram
<class 'str'>
Enter a value of a : 98
Enter a value of b : 89
Total :  187
<class 'int'>
Enter a value of a : 97
Enter a value of b : 96
Total :  193.0
<class 'float'>

# Getting Multiline Input

In [ ]:
para=[]
print("Enter a para")

while True:
  line=input()
  if line:
    para.append(line)
  else:
    break
    print(para)
    output='\n'.join(line)
    print(output)

Enter a para
Ram is good
Sita is good

# Type Casting

In [ ]:
a=99.9
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

99.9
<class 'float'>
99
<class 'int'>

# String And String Function

In [ ]:
s = "Ram kumar"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.count("a"))
print(s.endswith("ar"))
print(s.find("m"))
print(s.find("m", 5))
print(s.replace("m", 'w'))
a = "Ram1234"
print("Is Upper : ", a.isupper())
print("Is Lower : ", a.islower())
print("Is Alpha Numeric : ", a.isalnum())
print("Is Alpha : ", a.isalpha())
s = "he\nis\ngood"
print(s)
print(s.splitlines())
print(s.splitlines(True))
a = "Ram is from chennai"
print(a.split(" "))
a = "Ram,is,from,chennai"
print(a.split(","))
s="    Ram     "
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))
s='01-01-2025'
print(s.partition('-'))

Ram kumar
<class 'str'>
RAM KUMAR
ram kumar
Ram kumar
Ram Kumar
2
True
2
6
Raw kuwar
Is Upper :  False
Is Lower :  False
Is Alpha Numeric :  True
Is Alpha :  False
he
is
good
['he', 'is', 'good']
['he\n', 'is\n', 'good']
['Ram', 'is', 'from', 'chennai']
['Ram', 'is', 'from', 'chennai']
12
3
8
7
('01', '-', '01-2025')

# String Manipulation

In [ ]:
s= "sample"
print(s)
print(s[0:2])
print(s[:5])
print(s[1:])
print(s[-1])
print(s[-2:-1])
print(s[:-1])
print(s[::-1])

sample
sa
sampl
ample
e
l
sampl
elpmas

# Arithmetic Operator

In [3]:
"""
+  Addition
-  Subtraction
*  Multiplication
/  Division
%  Modulus
** Exponentiation
// Floor division
"""

a=6
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(2**3)

11
1
30
1.2
1
1
8

# Assignment Operator

In [12]:
"""
=   Assignment
+=	Addition
-=	Subtraction
*=	Multiplication
/=	Division
%=	Modulus
**=	Exponentiation
//=	Floor division
"""

a = 125
print(a)
a += 10
print(a)
a -=10
print(a)
a *= 10
print(a)
a /= 10
print(a)
a %= 10
print(a)
a **= 2
print(a)
a //= 10
print(a)

125
135
125
1250
125.0
5.0
25.0
2.0

# Comparision or Relational Operator

In [13]:
"""
==	Equal
!=	Not equal
>	Greater than
<	Less than
>=	Greater than or equal to
<=	Less than or equal to

"""

a = 10
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

# Logical Operator

In [19]:
"""
and
or
not
"""

a = 20
print(a >= 10 and a <= 15)
print(a >=10 or a<= 25)
print(not(a >= 10 and a <= 25))

False
True
False

# Bitwise Opertaor

In [ ]:
"""
& 	AND
|	OR
^	XOR
~ 	NOT
<<	Zero fill left shift
>>	Signed right shift
"""