<a href="https://colab.research.google.com/github/vijayalakshmig226/Python-Learning/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User Input

In [ ]:
name=input("Enter the name : ")
print(name)
print(type(name))

a=int(input("Enter a value of a : "))
b=int(input("Enter a value of b : "))
c=a+b
print("Total : ", c)
print(type(c))

a=float(input("Enter a value of a : "))
b=float(input("Enter a value of b : "))
c=a+b
print("Total : ",c)
print(type(c))

Enter the name : Ram
Ram
<class 'str'>
Enter a value of a : 98
Enter a value of b : 89
Total :  187
<class 'int'>
Enter a value of a : 97
Enter a value of b : 96
Total :  193.0
<class 'float'>

# Getting Multiline Input

In [ ]:
para=[]
print("Enter a para")

while True:
  line=input()
  if line:
    para.append(line)
  else:
    break
    print(para)
    output='\n'.join(line)
    print(output)

Enter a para
Ram is good
Sita is good

# Type Casting

In [ ]:
a=99.9
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

99.9
<class 'float'>
99
<class 'int'>

# String And String Function

In [ ]:
s = "Ram kumar"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.count("a"))
print(s.endswith("ar"))
print(s.find("m"))
print(s.find("m", 5))
print(s.replace("m", 'w'))
a = "Ram1234"
print("Is Upper : ", a.isupper())
print("Is Lower : ", a.islower())
print("Is Alpha Numeric : ", a.isalnum())
print("Is Alpha : ", a.isalpha())
s = "he\nis\ngood"
print(s)
print(s.splitlines())
print(s.splitlines(True))
a = "Ram is from chennai"
print(a.split(" "))
a = "Ram,is,from,chennai"
print(a.split(","))
s="    Ram     "
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))
s='01-01-2025'
print(s.partition('-'))

Ram kumar
<class 'str'>
RAM KUMAR
ram kumar
Ram kumar
Ram Kumar
2
True
2
6
Raw kuwar
Is Upper :  False
Is Lower :  False
Is Alpha Numeric :  True
Is Alpha :  False
he
is
good
['he', 'is', 'good']
['he\n', 'is\n', 'good']
['Ram', 'is', 'from', 'chennai']
['Ram', 'is', 'from', 'chennai']
12
3
8
7
('01', '-', '01-2025')

# String Manipulation

In [ ]:
s= "sample"
print(s)
print(s[0:2])
print(s[:5])
print(s[1:])
print(s[-1])
print(s[-2:-1])
print(s[:-1])
print(s[::-1])

sample
sa
sampl
ample
e
l
sampl
elpmas

# Arithmetic Operator

In [ ]:
"""
+  Addition
-  Subtraction
*  Multiplication
/  Division
%  Modulus
** Exponentiation
// Floor division
"""

a=6
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(2**3)

11
1
30
1.2
1
1
8

# Assignment Operator

In [ ]:
"""
 =  Assignment
+=	Addition
-=	Subtraction
*=	Multiplication
/=	Division
%=	Modulus
**=	Exponentiation
//=	Floor division
"""

a = 125
print(a)
a += 10
print(a)
a -=10
print(a)
a *= 10
print(a)
a /= 10
print(a)
a %= 10
print(a)
a **= 2
print(a)
a //= 10
print(a)

125
135
125
1250
125.0
5.0
25.0
2.0

# Comparision or Relational Operator

In [ ]:
"""
==	Equal
!=	Not equal
>	Greater than
<	Less than
>=	Greater than or equal to
<=	Less than or equal to

"""

a = 10
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

# Logical Operator

In [ ]:
"""
and
or
not
"""

a = 20
print(a >= 10 and a <= 15)
print(a >=10 or a<= 25)
print(not(a >= 10 and a <= 25))

False
True
False

# Bitwise Opertaor

In [ ]:
"""
& 	AND
|	OR
^	XOR
~ 	NOT
<<	Zero fill left shift
>>	Signed right shift
"""

a=25
b=45
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

9
61
52
-26
100
6

# IF Else Statemet

In [ ]:
name = input("Enter a name: ")
Age = int(input("Enter a age: "))
if Age >=18:
  print(name, "is eligible for vote")
else:
  print(name, "is not eligible for vote")

Enter a name: ram
Enter a age: 19
ram is eligible for vote

# Elif Statement

In [ ]:
days = int(input("Enter the days: "))
if days == 0:
  print("Good no fine")
elif days >=1 and days <=5:
  print("Fine Amount: ", days*1)
elif days >5 and days <= 10:
  print("Fine amount: ", days*2)
else:
  print("membership cancel")

Enter the days: 6
Fine amount:  12

# Nested If Statemet

In [ ]:
m1 = int(input("Enter mark1 :"))
m2 = int(input("Enter mark2 :"))
m3 = int(input("Enter mark3 :"))
total = m1+m2+m3
average = total/3
if m1>=35 and m2>=35 and m3>=35:
 print("pass")
 if average >=90 and average <=100:
  print("grade : a")
 elif average >=80 and average <=89:
  print("grade : b")
 elif average >=70 and average <=79:
  print("grade : c")
 else:
  print("grade: d")
else:
 print("fail")
 print("no grade")

Enter mark1 :70
Enter mark2 :80
Enter mark3 :90
pass
grade : b

# While Loop

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1


n = 20
print("even no: ")
i = 2
while i <=20:
 print(i)
 i += 2

1
2
3
4
5
6
7
8
9
10
even no:
2
4
6
8
10
12
14
16
18
20

# Continue Using While Loop

In [ ]:
i=1
while i<= 20:
  if i%2==0:
    i=i+1
    continue;
  print(i)
  i +=1

1
3
5
7
9
11
13
15
17
19

# Break Using While Loop

In [3]:
i=1
while i <=20:
  if i==7:
    break
  print(i)
  i +=1

1
2
3
4
5
6

# Range

In [ ]:
print(list(range(5)))
print(list(range(0,5)))
print(list(range(2,21,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# For Loop

In [ ]:
for i in range(0, 21, 2):
 print(i)


for i in range(5):
    a = int(input("enter the no: "))
    b = int(input("enter the no: "))
    print(a+b)

0
2
4
6
8
10
12
14
16
18
20
enter the no: 45
enter the no: 7
52
enter the no: 8
enter the no: 8
16
enter the no: 6
enter the no: 6
12
enter the no: 6
enter the no: 9
15
enter the no: 9
enter the no: 6
15

# Nested For Loop

In [22]:
"""
A-Z => 65-90
a-z=> 97-122
"""


for i in range(6):
    for j in range(i):
        print("*", end="")
    print("")
print("----------")

for i in range(5,0,-1):
    for j in range(i):
        print("*", end="")
    print("")
print("----------")

for i in range(65,70,1):
    for j in range(65,70,1):
        print(chr(j), end="")
    print("")
print("----------")

for i in range(122,117,-1):
    for j in range(122,117,-1):
        print(chr(j), end="")
    print("")

*
**
***
****
*****
----------
*****
****
***
**
*
----------
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE
----------
zyxwv
zyxwv
zyxwv
zyxwv
zyxwv

# while Else & For Else

In [27]:
i = 1
while i<= 5:
  print(i)
  i += 1
else:
  print("loop completed")
print("-------------------")

for i in range(1,5):
 print(i)
else:
  print("loop completed")

1
2
3
4
5
loop completed
-------------------
1
2
3
4
loop completed

# List and Its Functions

In [35]:
a = [1,2,3,4,5]
print(a)
print(type(a))
a[0]=100
print(a)
# slicig
print(a[1])
print(a[-1])
print(a[0:3])
print(a[:2])
print(a[2:])
print("-----------------------")
a = [1, True, 'ram', 2.5, [1,2,3,4]]
print(a)
print(type(a))
print(type(a[0]))
print(type(a[1]))
print(type(a[2]))
print(type(a[3]))
print(a[4])
print("-----------------------")
a = [10, 20, 30, 40]
print(a)
a.clear()
print(a)
a = [10, 20, 30, 40]
b = a.copy()
print(b)
a = [10, 20, 30, 20, 4, 40]
print(a.count(20))
print(a.index(40))
print(len(a))
print(min(a))
print(max(a))
print(a)
a.pop(1) # remove element using index
print(a)
a = [10, 20, 30, 20, 4, 40]
a.remove(20)
print(a)
print("-----------------------")
names = ["ram"]
print(names)
names.append("sita")
names.append("lakshman")
names.append("hanuman")
print(names)
name1 = ["janu"]
names.extend(name1)
print(names)
names.insert(0,"siva")
print(names)
print("-----------------------")
print(list(range(5)))
print(list("sitaram"))
a = [50, 60, 30, 25]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a = ["apple", "zebra", "orange"]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.sort(key=len)
print(a)

[1, 2, 3, 4, 5]
<class 'list'>
[100, 2, 3, 4, 5]
2
5
[100, 2, 3]
[100, 2]
[3, 4, 5]
-----------------------
[1, True, 'ram', 2.5, [1, 2, 3, 4]]
<class 'list'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
[1, 2, 3, 4]
-----------------------
[10, 20, 30, 40]
[]
[10, 20, 30, 40]
2
5
6
4
40
[10, 20, 30, 20, 4, 40]
[10, 30, 20, 4, 40]
[10, 30, 20, 4, 40]
-----------------------
['ram']
['ram', 'sita', 'lakshman', 'hanuman']
['ram', 'sita', 'lakshman', 'hanuman', 'janu']
['siva', 'ram', 'sita', 'lakshman', 'hanuman', 'janu']
-----------------------
[0, 1, 2, 3, 4]
['s', 'i', 't', 'a', 'r', 'a', 'm']
[50, 60, 30, 25]
[25, 30, 50, 60]
[60, 50, 30, 25]
['apple', 'zebra', 'orange']
['apple', 'orange', 'zebra']
['zebra', 'orange', 'apple']
['zebra', 'apple', 'orange']

# Tuple

In [56]:
a = (1, True, "sita", 2.5)
print(a)
print(type(a))
# Slicing
print(a[1])
print(a[-1])
print(a[2:])
print(a[0:2])
print(a[2:])
print(a)
b = list(a)
b.append("ram")
print(b)
print(type(b))
a = tuple(b)
print(a)
print(type(a))

for i in a:
  print(i)

if "sita" in a:
  print("sita is found")
else:
  print("sita is not found")
print(len(a))

a=(5,)
print(type(a))
del a

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
c = a + b
print(c)
print(c.count(7))

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
c = (a,b)
print(c)
print(c[0])
print(c[1])
print(c[0][2])

a = ('ram',)*10
print(a,)

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
print(min(a))
print(max(b))

(1, True, 'sita', 2.5)
<class 'tuple'>
True
2.5
('sita', 2.5)
(1, True)
('sita', 2.5)
(1, True, 'sita', 2.5)
[1, True, 'sita', 2.5, 'ram']
<class 'list'>
(1, True, 'sita', 2.5, 'ram')
<class 'tuple'>
1
True
sita
2.5
ram
sita is found
5
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
1
((1, 2, 3, 4), (5, 6, 7, 8))
(1, 2, 3, 4)
(5, 6, 7, 8)
3
('ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram')
1
8

# Set

In [20]:
names = {'ram', 'sita'}
print(names)
print(type(names))

for name in names:
  print(name)

names.add('lakshman')
print(names)

a = {'hanuman', 'raghu'}
names.update(a)
print(names)

names.remove("raghu")
print(names)

names.discard("ram")
print(names)

names.pop()
print(names)

names.clear()
print(names)

del a

a = {'lakshman', 'raghu', 'sita', 'hanuman', 'ram', 'ram'}
print(a)

a ={1, 2, 3, 4}
b = {'a', 'b', 'c', 'd'}
c = a.union(b)
print(c)

a.update(b)
print(a)
print("------------------------------------")

a = {1, 2, 3, 4}
b = {4, 5, 6, 7}
c = a.intersection(b)
print(c)
a.intersection_update(b)
print(a)

a = {1, 2, 3, 4}
b = {4, 5, 6, 7}
c = a.symmetric_difference(b)
print(c)
a.symmetric_difference_update(b)
print(a)
print("------------------------------------")

a = {1, 2, 3}
b = {4, 5}
c = a.isdisjoint(b)
print(c)

c = a.issubset(b)
print(c)

c = a.issuperset(b)
print(c)

{'ram', 'sita'}
<class 'set'>
ram
sita
{'lakshman', 'ram', 'sita'}
{'lakshman', 'raghu', 'sita', 'hanuman', 'ram'}
{'lakshman', 'sita', 'hanuman', 'ram'}
{'lakshman', 'sita', 'hanuman'}
{'sita', 'hanuman'}
set()
{'lakshman', 'raghu', 'sita', 'hanuman', 'ram'}
{1, 2, 3, 4, 'b', 'a', 'd', 'c'}
{1, 2, 3, 4, 'b', 'a', 'd', 'c'}
------------------------------------
{4}
{4}
{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}
------------------------------------
True
False
False

# Dictionary

In [56]:
user = {
    "name" : "ram",
    "age" : 25,
    "ismarried" : True

}
print(user)
print(type(user))
print(user["name"])
print(user.get('age'))
print(user.keys())
print(user.values())
print(user.items())
print("----------------------------------")

for x in user:
  print(x, " ", user[x])

for x in user.values():
  print(x)

for x in user.keys():
  print(x)

for x,y in user.items():
  print(x,y)
print("----------------------------------")

user.update({"gender":"male"})
print(user)

user["age"]=20
print(user)

if "age" in user:
  print("yes")

user.pop("name")
print(user)

user.clear()
print(user)
print("-------------------------------")

users = {
    "user1" : {
        "name": "ram",
        "age": 25,
        "ismarried": True
    },
    "user2" : {
        "name": "sita",
        "age": 22,
        "ismarried": True
    }
}
print(users)

{'name': 'ram', 'age': 25, 'ismarried': True}
<class 'dict'>
ram
25
dict_keys(['name', 'age', 'ismarried'])
dict_values(['ram', 25, True])
dict_items([('name', 'ram'), ('age', 25), ('ismarried', True)])
----------------------------------
name   ram
age   25
ismarried   True
ram
25
True
name
age
ismarried
name ram
age 25
ismarried True
----------------------------------
{'name': 'ram', 'age': 25, 'ismarried': True, 'gender': 'male'}
{'name': 'ram', 'age': 20, 'ismarried': True, 'gender': 'male'}
yes
{'age': 20, 'ismarried': True, 'gender': 'male'}
{}
-------------------------------
{'user1': {'name': 'ram', 'age': 25, 'ismarried': True}, 'user2': {'name': 'sita', 'age': 22, 'ismarried': True}}

# Identity Operator

In [4]:
"""
is
isnot
"""

a = [1,2]
b = [1,2]
c = a
print(a is c)
print(a is b)
print(a==b)
print(id(a))
print(id(c))
print(id(b))


print(a is not c)
print(a is not b)
print(a!=b)

True
False
True
138099616832192
138099616832192
138099616838208
False
True
False

# Membership Operator

In [6]:
a = [10, 20, 30]
print(22 in a)
print(25 not in a)

False
True

# Function

In [7]:
def Hello():
  print("Hello World!!!")
Hello()
Hello()

Hello World!!!
Hello World!!!

# No Return Type Without Argument Function

In [9]:
def add():
  a = int(input("Enter the Value Of A: "))
  b = int(input("Enter the Value Of B: "))
  c = a+b
  print("Total : ", c)

add()

Enter the Value Of A: 30
Enter the Value Of B: 40
Total :  70

# No Return Type With Argument Function

In [10]:
def sub(a,b):
  c = a-b
  print("Difference: ",c)

sub(20,10)

Difference:  10

# Return Type Without Argument Function

In [11]:
def mul():
  a = int(input("Enter the Value of A : "))
  b = int(input("Enter the Value of B : "))
  c = a*b
  return c

x = mul()
print("Total : ", x)

Enter the Value of A : 2
Enter the Value of B : 3
Total :  6

# Return Type With Argument Function

In [14]:
def div(a,b):
  c = a/b
  return c

x = div(15,3)
print("Total : ", x)

Total :  5.0

# Arbitrary Arguments Function

In [21]:
def class_10(*students):
   print(students)
   for user in students:
        print(user)

class_10("ram", "sita")
print(type(class_10))

('ram', 'sita')
ram
sita
<class 'function'>

# Keyword Arguments Function

In [23]:
def message(name,age):
  print(name, "age is ", age)

message(age=20, name="ram")

ram age is  20

# Arbitrary Keyword Arguments

In [25]:
def student(**data):
  print(data)

student(name="sita", age=20, gender="female")

{'name': 'sita', 'age': 20, 'gender': 'female'}

# Default Parameter Function

In [26]:
def user(name, city="chennai"):
  print(name, "is from", city)

user("ram", "tambaram")
user("sita")

ram is from tambaram
sita is from chennai

# Passing a List as an Argument in Function

In [27]:
def total(marks):
  return(sum(marks))

print("total: ", total([89,98,79,97,99]))

total:  462

# recursive function

In [28]:
def factorial(x):
  if x == 1:
    return 1
  else:
    return(x*factorial(x-1))
print("factorial :", factorial(5))

factorial : 120

# Lambda Function

In [30]:
c = lambda a:a+50
print(c(10))

c = lambda a,b:a*b
print(c(5,4))

60
20

# Date And Time Function

In [50]:
import datetime as dt

current_date=dt.date.today()
print("current date :", current_date)

# Date
new = dt.date(2021, 10, 25)
print(new)
print("Year : ", new.year)
print("Month : ", new.month)
print("Day : ", new.day)
print("---------------------------------")
# Time
a = dt.time(10, 45, 5, 555505)
print(a)
print("Hour : ", a.hour)
print("Minute : ", a.minute)
print("Second : ", a.second)
print("Microsecond : ", a.microsecond)
print("-----------------------------------")

current_time=dt.datetime.now()
print("Current Time : ", current_time)

new = dt.datetime(2021, 5, 31, 12, 2, 10)
print(new)
print(new.date())
print(new.time())
print("-----------------------------------")
current = dt.datetime.now()
new_year = dt.datetime(2022, 1, 1)
difference = current - new_year
print(difference)
print("-----------------------------------")
current = dt.datetime.now()
print(current)
s = current.strftime("%A %b %d %Y")
print(s)

current date : 2025-02-12
2021-10-25
Year :  2021
Month :  10
Day :  25
---------------------------------
10:45:05.555505
Hour :  10
Minute :  45
Second :  5
Microsecond :  555505
-----------------------------------
Current Time :  2025-02-12 12:12:07.691746
2021-05-31 12:02:10
2021-05-31
12:02:10
-----------------------------------
1138 days, 12:12:07.692276
-----------------------------------
2025-02-12 12:12:07.692565
Wednesday Feb 12 2025

# Math Function

In [52]:
import math
print(math.sqrt(2))
print(math.ceil(1.55))
print(math.floor(1.66))
print(math.factorial(5))
print(math.fabs(-5))
print(math.pow(2,5))
print(math.log2(5))
print(math.log10(5))
print(math.pi)
print(math.e)

1.4142135623730951
2
1
120
5.0
32.0
2.321928094887362
0.6989700043360189
3.141592653589793
2.718281828459045

# Try Block

In [56]:
try:
  a=10/0
except Exception as e:
  print(e)

division by zero

# Try Else Block

In [58]:
try:
  a = 20/4
except Exception as e:
    print(e)
else:
    print(a)

5.0

# Finally Block

In [59]:
try:
  s = 2/5
except Exception as e:
  print(e)
else:
  print(s)
finally:
  print("Thank you")

0.4
Thank you

# Types Of Exceptions

In [21]:
try:
    print(a)
except NameError as e:
    print("A is not Defined")
    print("---------------------------------------")

try:
    b=10/0
except ZeroDivisionError as e:
    print("Denominator cannot be zero")
    print("---------------------------------------")

try:
  c = int("Ram")
except ValueError as e:
  print("Enter numbers only")
  print("---------------------------------------")

try:
  s = [1, 2, 3, 4]
  print(s[5])
except IndexError as e:
  print("Ivalid Index")
  print("---------------------------------------")

try:
  f = open("ram.txt")
except FileNotFoundError as e:
  print("File Not Found")
else:
  print(f.read)

[1, 2, 3, 4]
Denominator cannot be zero
---------------------------------------
Enter numbers only
---------------------------------------
Ivalid Index
---------------------------------------
File Not Found

# Handling Multiple Exceptions

In [28]:
try:
    a=10/0
    print(a)
    b=[10,20,30,40]
    print(b[5])
except ZeroDivisionError:
    print("denominator cant be zero")
except IndexError:
    print("Invalid Index")

denominator cant be zero

# Class And Object

In [29]:
class car():
  pass

a = 10
print(type(a))
print(type(car))

swift = car()

print(isinstance(swift,car))
print(isinstance(a,int))
print(type(swift))

<class 'int'>
<class 'type'>
True
True
<class '__main__.car'>

# class Attribute

In [43]:
class student():
  name = "Ram"
  age = 20

# getattr method
print(getattr(student, 'name'))
print(getattr(student, 'age'))
print(getattr(student, 'gender', 'no such attribute found'))

# Dot Notation
print(student.name)
print(student.age)

# setattr
setattr(student, 'name', 'sita')
print(student.name)

setattr(student, 'gender', 'female')
print(student.gender)

student.city = 'salem'
print(student.city)
print(student.__dict__)
delattr(student,"city")
print(student.__dict__)
del student.gender
print(student.__dict__)

Ram
20
no such attribute found
Ram
20
sita
female
salem
{'__module__': '__main__', 'name': 'sita', 'age': 20, '__dict__': <attribute '__dict__' of 'student' objects>, '__weakref__': <attribute '__weakref__' of 'student' objects>, '__doc__': None, 'gender': 'female', 'city': 'salem'}
{'__module__': '__main__', 'name': 'sita', 'age': 20, '__dict__': <attribute '__dict__' of 'student' objects>, '__weakref__': <attribute '__weakref__' of 'student' objects>, '__doc__': None, 'gender': 'female'}
{'__module__': '__main__', 'name': 'sita', 'age': 20, '__dict__': <attribute '__dict__' of 'student' objects>, '__weakref__': <attribute '__weakref__' of 'student' objects>, '__doc__': None}

# Instance Attribute

In [6]:
class employee:
  name = "Ram"

o = employee()
print(employee.__dict__)
print(employee.name)
print(o.__dict__)
o.name = "sita"
print(o.__dict__)
print(o.name)

o2 = employee()
print(o2.name)

{'__module__': '__main__', 'name': 'Ram', '__dict__': <attribute '__dict__' of 'employee' objects>, '__weakref__': <attribute '__weakref__' of 'employee' objects>, '__doc__': None}
Ram
{}
{'name': 'sita'}
sita
Ram